$primary-color:yellow;
$secondary-color:white;
$mobile:600px;
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":800
);
*{
    
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: Poppins;
}